<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h1>Diary entries:</h1>
    <button
    class="btn"
    style="background-color: rgb(211, 60, 55); float: right; color: aliceblue;"
    [routerLink]="['/diaries','new']"
    >
      Add New Entry
    </button>
  </div>

  <div class="blog-card"  *ngFor="let diary of diaries">
    <div class="description">
      <h1 class="mr-auto">{{diary.title}}</h1>
      <h2>{{diary.created_at | date:'medium'}}</h2>
      <p>
        {{diary.content}}
      </p>
      <button
        class="btn mt-3"
        style="background-color: rgb(211, 60, 55); float: right; color: aliceblue;"
        [routerLink]="['/diaries',diary.id,'edit']"
      >
        Edit Entry
      </button>
    </div>

  </div>

</div>
